In [1]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
from geopy.exc import GeocoderTimedOut
from geopy.geocoders import Nominatim
import numpy as np
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
url ='https://www.linkedin.com/jobs/collections/'
driver = webdriver.Firefox()
driver.get(url)

login_button = driver.find_element(By.CLASS_NAME, "main__sign-in-link")
login_button.click()

username = driver.find_element("id","username")
username.send_keys("vishaltomer0324@gmail.com")
password = driver.find_element("id","password")
password.send_keys("**********")

button = driver.find_elements(By.XPATH, "//button[contains(text(),'Sign in')]")
button[0].click()

In [3]:
locationlist = []
for i in range(40):
    lin = 'https://www.linkedin.com/jobs/collections/?currentJobId=3378646771&start=' + str(25+(i-1)*25)
    driver.get(lin)
    soup = BeautifulSoup(driver.page_source,"html.parser")
    for link in soup.find_all('a', href = True):
        if 'flagship3_search_srp_job' in link['href']:
            locationlist.append(link['href'])

In [4]:
len(locationlist)

44

In [5]:

l = []

for i in range(len(locationlist)):
    if 'https://www.linkedin.com'+locationlist[i] not in l:
        l.append('https://www.linkedin.com'+locationlist[i])

In [6]:
# company_name
job = []
location = []
company_name = []
work_type = []
full_time_remote = []
no_of_employ =[]
no_of_application = []
count = 0
for i in range(len(l)):
    count += 1
    print(count,end=" ")
    try:
        driver.get(l[i])
        time.sleep(2)
    except:
        pass
    try:
        j= driver.find_elements(By.XPATH,'/html/body/div[5]/div[3]/div/div[1]/div[1]/div/div[1]/div/div/div[1]/h1')
        company_name.append(j[0].text)
        
    except:
        company_name.append('NA')
    try:
        j= driver.find_elements(By.CSS_SELECTOR,'.jobs-unified-top-card__workplace-type')
        work_type.append(j[0].text)
    except:
        work_type.append('NA')
    try:
        j= driver.find_elements(By.CSS_SELECTOR,'li.jobs-unified-top-card__job-insight:nth-child(1) > span:nth-child(2)')
        full_time_remote.append(j[0].text)
    except:
        full_time_remote.append('NA')
    try:
        j= driver.find_elements(By.CSS_SELECTOR,'.jobs-unified-top-card__subtitle-primary-grouping > span:nth-child(2)')
        location.append(j[0].text)
    except:
        location.append('NA')
    try:
        j= driver.find_elements(By.CSS_SELECTOR,'.t-24')
        job.append(j[0].text)
    except:
        job.append('NA')
    try:
        j= driver.find_elements(By.CSS_SELECTOR,'li.jobs-unified-top-card__job-insight:nth-child(2) > span:nth-child(2)')
        no_of_employ.append(j[0].text)
    except:
        no_of_employ.append('NA')
    try:
        j= driver.find_elements(By.CSS_SELECTOR,'.jobs-unified-top-card__applicant-count')
        no_of_application.append(j[0].text)
    except:
        no_of_application.append('NA')

1 2 3 4 5

In [7]:
col=['job','location','company_name','work_type','full_time_remote','no_of_employ','no_of_application']
df=pd.DataFrame({'job': job,'location':location,'company_name':company_name,'work_type':work_type,'full_time_remote':full_time_remote,'no_of_employ':no_of_employ,'no_of_application':no_of_application})

In [8]:
df

,job,location,company_name,work_type,full_time_remote,no_of_employ,no_of_application
0,Data Analyst,Greater Delhi Area,Data Analyst,On-site,Full-time,11-50 employees,2 applicants
1,Neo4j,"Delhi, India",Neo4j,Hybrid,Full-time 路 Associate,"10,001+ employees 路 IT Services and IT Consulting",2 applicants
2,Quantitative Modeler,Greater Delhi Area,Quantitative Modeler,Remote,Contract,11-50 employees,77 applicants
3,SAP Business Object Data Services Consultant,India,SAP Business Object Data Services Consultant,Remote,Contract,51-200 employees,35 applicants
4,Flutter Developer,"New Delhi, Delhi, India",Flutter Developer,On-site,Full-time,51-200 employees,63 applicants